/* remove this code and add your own! */
* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
}
aside {
  background-color: teal;
  color: white;
  min-width: 10rem;
  height: 20rem;
}
